@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body{
    font-family: "poppins", sans-serif;
    color: #0D0D0D;;
}

.container{
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: 5px ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 900px 200px;
    grid-template-areas: 
    "header nav"
    "main main"
    "footer footer";
}

.cabecalho, .conteudo, .rodape{
    /* background-color: lightsalmon; */
    padding: 1em;
}

.cabecalho{
    grid-area: header;
}

.cabecalho-logo{
    margin-top: .5em;
    height: 2.9em;   

}

.menu{
    /* background-color: lightsalmon; */
    grid-area: nav;
    padding: 1.5em;
}

.menu-icon{
    font-size: 1.9em;
    float: right;
    padding-right: 1em;
}

.conteudo{
    grid-area: main;
}

.conteudo-topo{
    max-width: 960px;
    margin: 0 auto ;
    text-align: center;
} 

.conteudo-topo ul{
    margin-top: 3.5em;
    padding: 0;
    text-align: left;
}

.conteudo-topo li{
    list-style: none;
    padding-bottom: 1em;
}

.conteudo-topo li a{
    font-size: 1.5em;
    text-decoration: none;
    color: #0D0D0D;
    transition: color .5s;
    cursor: pointer;
}

.conteudo-topo li a:hover{
    color: #03989E;
}

.img-perfil {
    margin: -10em 0 .8em 0;
}

.conteudo-topo-text{
    margin-top: 1em;
    padding: 0 1.5em;
}

.conteudo-topo-text h1{
    font-size: 2em;
    font-weight: normal;
    line-height: .1em;
}
.cor-nome{
    color: #03989E;
}

.conteudo-topo-text h2{
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.8em;
}

.conteudo-topo-text p{
    font-size: .9em;
    font-weight: normal;
    line-height: 1.8em;
}

.topo-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #03989E;
    padding: .6em 2em;
    border-radius: 2.5em;
    margin: 1.2em 0;
    transition: .3s;
}

.topo-button:hover{
    box-shadow: 0 5px 20px rgba(3,152,158,1);
}


.rodape{
    grid-area: footer;
}

@media (min-width: 65em){

/* Encontrar uma forma de deixar esse logo responsivo também  */
.cabecalho-logo{
    margin-left: 11.5em;
}

.conteudo-topo ul{
    margin-top: 8em;
}

.conteudo-topo li a{
    font-size: 1.8em ;
}

.img-perfil{
        width: 280px;
        float: right;
        margin: -10em 4em;
}

.conteudo-topo-text{
    text-align: left;
    margin: -8.5em auto;
    padding: 0 8em;
}

.conteudo-topo-text h1{
    font-size: 3em;
}

.conteudo-topo-text p{
    width: 60%;
}

.topo-button{
    margin-top: 2em;
}
}



