@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root{
    --dark-gray: #0D0D0D;
    --medium-gray: #363636;
    --medium-ciano: #03989E;
    --white: #fff;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "poppins", sans-serif;
    color: var(--dark-gray);
    overflow-x: hidden;
}

#sobre, #projetos, #contato{
    min-height: 100vh;
}

#sobre{
    background-color: lightblue;
}

#sobre{
    margin-top: 30em;
}

#projetos{
    background-color: lightgreen;
}

#contato{
    background-color: lightpink;
}

.container{
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: .312em;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 5em 56.25em 12.5em;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.conteudo, .rodape, .header{
    /* background-color: lightsalmon; */
    padding: 1em;
}

.cabecalho{
    grid-area: header;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: white; 
    padding: 0;
}

.cabecalho-div{
    max-width: 60em;
    margin: 0 auto ; 
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: space-between;
} 

.div-logo{
    padding: 0;
    margin: 0;
}

.logo{
    margin: 1rem;  
}

.mobile-nav-toggle{
    display: none;
}

.primary-nav{
    display: flex;
    gap: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-nav a{
     font-size: 1.1rem;
     text-decoration: none;
     color: var(--dark-gray);
     transition: color .5s;
     cursor: pointer;
}

.conteudo{
    grid-area: main;
}

.conteudo-topo{
    max-width: 60em;
    margin: 0 auto ;
    text-align: center;
} 

.conteudo-topo ul{
    margin-top: 3.2em;
    padding: 0;
    text-align: left;
}

.conteudo-topo li{
    list-style: none;
    padding-bottom: 1em;
}

.conteudo-topo li a{
    font-size: 1.5em;
    text-decoration: none;
    color: var(--dark-gray);
    transition: color .5s;
    cursor: pointer;
}

.conteudo-topo li a:hover, .primary-nav li a:hover{
    color: var(--medium-ciano);
}

.img-perfil {
    margin: -10em 0 .8em 0;
}

.conteudo-topo-text{
    margin-top: 1em;
    padding: 0 1.5em;
}

.conteudo-topo-text h1{
    font-size: 1.8em;
    font-weight: normal;
    line-height: .1em;
}
.cor-nome{
    color: var(--medium-ciano);
}

.conteudo-topo-text h2{
    font-size: 1em;
    font-weight: normal;
    line-height: 1.8em;
}

.conteudo-topo-text p{
    font-size: .9em;
    font-weight: normal;
    line-height: 1.8em;
    color: medium-gray;
}

.topo-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--medium-ciano);
    padding: .6em 2em;
    border-radius: 2.5em;
    margin: 1.2em 0;
    transition: .3s;
}

.topo-button:hover{
    box-shadow: 0 .312em 1.25em rgba(3,152,158,1);
}

.scroll-down{
    display: none;
}

.rodape{
    grid-area: footer;
}

@media (max-width: 48.74em){

    .primary-nav{
        position: fixed;
        z-index: 100;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 6rem) 2rem;

        background-color: rgba(0,0,100,.1);
        backdrop-filter: blur(1rem);
        letter-spacing: .1rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;

    }

    .primary-nav[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        position: absolute;
        width: 2.5rem;
        border: 0;
        aspect-ratio: 1;
        top: 1.1rem;
        right: .6rem;
        z-index: 999;
        background-color: transparent;
        background-image: url(../images/menu.svg);
        font-size: 1.9em;
        display: block;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(../images/close.svg);
    }

}

@media (min-width: 48.75em){

    .primary-nav{
        margin: 1rem;
    }
    .conteudo-topo-text{
        text-align: left;
    }

    .img-perfil{
        float: right;
        margin-right: 4em;
        width: 15em;
    }

    .conteudo-topo-text{
        margin: -8.5em auto;
        padding: 0 2em 0 4em;
    }

    .conteudo-topo-text p{
        width: 60%;
    }

}

@media (min-width: 65em){


.logo{
    height: 3.3em; 
    margin: 1rem 0;
}

.conteudo-topo{
    margin-top: -2em;
}

.conteudo-topo ul{
    margin-top: 8em;
}

.conteudo-topo li a{
    font-size: 1.8em ;
}

.img-perfil{
    width: 17.5em;
    margin: -10em 4em;
}

.conteudo-topo-text{
    margin: -8.5em auto;
    padding: 0 8em;
}

.conteudo-topo-text h1{
    font-size: 2.9em;
}

.conteudo-topo-text p{
    width: 60%;
}

.topo-button{
    margin-top: 2em;
}

.scroll-down{
    display: block;
    margin-top: 14em;
    text-decoration: none;
    color: var(--dark-gray); 
    font-weight:500;
}

.icon-mouse{
    font-size: 1.5em;
    color: var(--medium-ciano);
}

.icon-arrow-down{
    font-size: 1.1em;
    color: var(--medium-ciano);
}

}



