@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');


/* ----- DEFINIÇÕES GERAIS ----- */


:root{
    --title-color: hsl(142, 8%, 15%);
    --text-color: hsl(142, 8%, 35%);
    --text-color-ligth: hsl(142, 8%, 65%);
    --dark-gray: #0D0D0D;
    --medium-gray: #363636;
    --medium-ciano: #03989E;
    --body-color: hsl(142, 60%, 99%);
    --white: #fff;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "poppins", sans-serif;
    color: var(--body-color);
    overflow-x: hidden;
}

h1,h2,h4{
    color:var(--title-color);
}

h2{
    font-size: 1.3rem;
    font-weight: normal;
    line-height: .1rem;
}

h3{
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.8em;
    font-weight: normal;
}

 p{
    font-size: .9rem;
    font-weight: normal;
    line-height: 1.8em;
    color:var(--text-color);
}


/* ----- CLASSES GERAIS ----- */


.flex{
    display: flex;
    gap: 1rem;
}

.section{
    padding-top: 4.8rem;
}

.section-title{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
}

.section-subtitle{
    text-align: center;
    font-size: .8rem;
    margin-bottom: 2rem;
    line-height: .9rem;
    color: var(--text-color);
}

.link-model{
    text-decoration: none;
    color: var(--dark-gray);
    transition: color .5s;
    cursor: pointer;
}

.link-model:hover{
    color: var(--medium-ciano);
}  

.button-model{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--medium-ciano);
    padding: .6rem 1.6rem;
    border-radius: 2.5rem;
    margin: 1.2rem 0;
    transition: .3s;
    font-size: 1rem;
}


.button-model:hover{
    box-shadow: 0 .312em 1.25em rgba(3,152,158,1);
}


.container{
    font-size: 1rem;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-gap: .312em;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 5rem 165rem 20.5rem;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

.grid{
    display: grid;
    gap: 1.5rem;
}


/* ----- HEADER-NAV ----- */


.header{
    grid-area: header;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    background: white; 
    z-index: 100;
}

.header-nav{ 
    max-width: 60rem;
    height: 4.5rem;
    margin: 0 auto; 
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
} 

.header-logo{
    padding: 0;
    margin: 0;
}

.logo{
    margin: 1rem;  
}

.mobile-nav-toggle{
    display: none;
}

.primary-nav{
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.menu-icon-nav{
    font-size: 1.1rem;
    padding-right: .5rem;
}

/* ----- HOME ----- */


.main{
    grid-area: main;
    padding: 1rem;  
}

.home{
    max-width: 60rem;
    margin: 0 auto ;
    text-align: center;
} 

.home-icons{
    margin-top: 3.2rem;
    padding: 0;
    text-align: left;
}

.home li{
    list-style: none;
    padding-bottom: 1rem;
   
}

.icon-item{
    font-size: 1.5rem;
}

.home-img{
    margin: -10rem 0 .8rem 0;
}

.home-content{
    margin-top: 1rem;
    padding: 0 1.5rem;
}

.home-content h1{
    font-size: 1.8rem;
    font-weight: normal;
    line-height: .1rem;
}

.cor-nome{
    color: var(--medium-ciano);
}

.button-home:hover{
    transform: translateX(.25rem);
}


.scroll-down{
    display: none;
}


/* ----- SOBRE ----- */

.sobre-container{
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin: 1rem;
}

.sobre-img{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}

.sobre-descricao{
    text-align: center;
    
}

.button-model{
    justify-self: center;
    align-self: center;
}

.button-cv:hover{
    transform: translateY(.25rem);
}

/* ----- EXPERIÊNCIA ----- */

.experiencia-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.experiencia-section{
    padding: .5rem 1.8rem .5rem;
}

.experiencia-icon{
    font-size: 2rem;
    color:var(--medium-ciano);
}


/* ----- PROJETOS ----- */

.projet{
    position: relative;
    z-index: 998;
}
.projeto-container{
    overflow: initial;
    max-width: 48rem;
    margin: 3rem auto 0;
}

.projeto-content{
    padding: 0 1.5rem;
}

.projeto-dados{
    padding: 0 1rem;
}

.projeto-img{
    width: 260px;
    height: 180px;
    border-radius: .5rem;
    justify-self: center;
} 

.projeto-title{
    margin-top: -.9rem;
    margin-bottom: .8rem;
}

.projeto-desc{
    margin-bottom: -.5rem;
}

.projeto-button{
    font-size: .9rem;
}

.button-icon{
    font-size: 1.1rem;
}

.projeto-button:hover, .button-icon{
    transform: translateX(.25rem);
}

.swiper {
    width: 21.25rem; 
    height: 26.875rem;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}

.swiper-projeto-icon{
    font-size: 2rem;
    color: var(--medium-ciano);
}

.swiper-button-prev{
    left: -.5rem;
}

.swiper-button-next{
    right: -.5rem;
}

.swiper-container-horizontal > .swiper-container-bullets{
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active{
    background-color: var(--medium-ciano);
}

.swiper-button-next,
.swiper-button-prev,
.swiper-pagination-bullet{
    outline: none;
}


/* ----- RODAPÉ ----- */


.rodape{
    grid-area: footer;
    color: var(--dark-gray);
}

.contact{
    margin-top: 25rem;
}

.section-contato-title{
    margin-top: 10rem;
}


.contato-container{
    overflow: initial;
    max-width: 48rem;
    margin: 0 auto;
    padding: 2rem 5rem 0;
    row-gap: 3rem;
}


.contato-info{
    display: flex;
    margin-bottom: 1rem;
}

.contact-icon{
    font-size: 1.5rem;
    color: var(--medium-ciano);
    margin-right: .75rem;
    align-self: center;
}

.contato-title{
    margin: .5rem 0;
}

.contato-subtitle{
    font-size: .9rem;
    color: var(--text-color);   
}


/* ----- MEDIAS ----- */

@media (max-width: 48.75em){

    .primary-nav{
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 6rem) 2rem;

        background: hsl(142 8% 93%); 
        letter-spacing: .1rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;

    }

    }

    @supports (backdrop-filter: blur(1rem)){
        .primary-nav {
            background: hsl(0 0% 100% / .1); 
            backdrop-filter: blur(1rem);
        }
    }
    

    .primary-nav[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        position: absolute;
        width: 1rem;
        border: 0;
        aspect-ratio: 1;
        top: 1.1rem;
        right: .6rem;
        z-index: 9999;
        background-color: transparent;
        background-image: url(../images/menu.svg);
        font-size: 1.1rem;
        display: block;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(../images/close.svg);
    }

@media (min-width: 48.75em){

    .container{
        grid-template-rows: 5rem 115rem 20.5rem;
    }
    .primary-nav{
        margin: 1rem;
        font-size: 1.1rem;
    }

    .menu-icon-nav{
        display: none;
    }

    .home-content{
        text-align: left;
    }

    .home-img{
        float: right;
        margin-right: 4rem;
        width: 15rem;
    }

    .home-content{
        margin: -8.5rem auto;
        padding: 0 2rem 0 4rem;
    }

    .home-content p{
        width: 60%;
    }

    .sobre{
        margin-top: 8rem;
    }

    .sobre-container{
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
        "image text-sobre"
        "image button";
    }

    .sobre-img{
        grid-area: image;
        width: 250px;
    }

    .sobre-dados{
        grid-area: text-sobre;
    }

    .button{
        grid-area: button;
    }
  
    .experiencia-section{
        padding: 1rem 3rem 1rem;
    }

    .mobile-nav-toggle{
        display: none;
    }

    .swiper {
        width: 46.875rem; 
        height: 18.75rem;
    }

    .projeto-content{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    
    .projeto-dados{
        padding: 2rem 1rem 0;
    } 

    .contato-container{
        padding: 2rem 1rem 0;
    }

    .contato-dados{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    .section-contato-title{
        margin-top: 17rem;
    }

 
} 

@media (min-width: 65em){

 .container{
        grid-template-rows: 5rem 135rem 20.5rem;
}

.logo{
    height: 3.3rem; 
    margin: 1rem 0;
}

.home{
    margin-top: -2rem;
}

.home-icons{
    margin-top: 8rem;
}

.icon-item{
    font-size: 1.8rem;
}

.home-img{
    width: 17.5rem;
    margin: -10rem 4rem;
}

.home-content{
    margin: -8.5rem auto;
    padding: 0 8rem;
}

.home-content h1{
    font-size: 2.7rem;
}

.home-content p{
    width: 60%;
}

.button-model{
    margin-top: 2rem;
}

.scroll-down{
    display: block;
    margin-top: 15rem;
    text-decoration: none;
    color: var(--dark-gray); 
    font-weight:500;
    text-align: center;
    transition: .3s;
}

.scroll-down:hover{
    transform: translateY(.25rem);
}

.icon-mouse{
    font-size: 1.5rem;
    color: var(--medium-ciano);
}

.icon-arrow-down{
    font-size: 1.1rem;
    color: var(--medium-ciano);
}

.section-title{
    font-size: 1.5rem;
}

.sobre{
    margin-top: 3rem;
}

.sobre-container{
    column-gap: 4rem;
    margin: 6rem 0 5rem;
}

.sobre-img{
    justify-self: right;
    align-self: right;
    width: 280px;
}

.sobre-descricao{
    text-align: left;
    margin-right: 14rem;
}

.button-cv{
    justify-self: left;
    align-self:flex-end;
}

.sobre-button{
    text-align: left;
}

.experiencia-container{
        flex-direction: row;
        align-items: center;
        text-align: center;
}

.experiencia-section{
    padding: 2.5rem 2.5rem 1rem;
}

.experiencia-icon{
    font-size: 2.5rem;
}

.projeto-content{
    column-gap: 5rem;
}

.swiper-projeto-icon{
    font-size: 3.5rem;
}

.swiper-button-prev{
    left: -3.5rem;
}

.swiper-button-next{
    right: -3.5rem;
}

.swiper-container-horizontal > .swiper-container-bullets{
    bottom: -4.5rem;
}

.swiper {
    width: 48.75rem; 
    height: 19.375rem;
}

.contact{
    margin-top: 12rem;
}

.contato-container{
    max-width: 75rem;
    padding: 3rem 5rem -2rem;
    margin-top: 4rem;
}

.contato-dados{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.section-contato-title{
    margin: 0 0 2rem;
}


}




